<h1>Recipe Form</h1>

<%= render partial: 'layouts/errors', locals:{obj: @recipe}%>

<%= form_for(@recipe) do |f|%>
  <%= f.label :name %> <br>
  <%= f.text_field :name%><br>


  <%@recipe.recipe_ingredients.each do |recipe_ingredient|%>
    <h5><%=recipe_ingredient.ingredient_name %>    Quantity: <%=recipe_ingredient.quantity%></h5>
  <%end%>

  <h3>Instructions:</h3>
  <%= f.label :content %> <br>
  <%= f.text_area :content, rows: 8, cols: 50%> <br>

  <h3>Add Ingredient</h3>
  <%=f.fields_for :recipe_ingredients do |i| %>
    
    <%if !@recipe.errors[:ingredient_name].blank?%>
      <div class = "field_with_errors">
    <%else%>
      <div>
    <%end%>
        <%=i.label "Ingredient name:" %> 
        <%=i.text_field :ingredient_name %> <br><br>
      </div>

    <%if !@recipe.errors[:quantity].blank?%>
      <div class = "field_with_errors">
    <%else%>
      <div>
    <%end%>
        <%=i.label "Quantity:"%> 
        <%=i.number_field :quantity%><br><br>
      </div>
  <%end%>

  <%=f.submit "Save Recipe"%>
<% end%>