<h1>Recipe Form</h1>

<% if @recipe.errors.any?%>
  <div class = "error-explanation">
    <h3>Submission failed due to the following errors:</h3>
    <ul>
      <%@recipe.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
      <%end%>
    </ul>
  </div>
<%end%>

<%= form_for(@recipe) do |f|%>
  <%= f.label :name %> <br>
  <%= f.text_field :name%><br>

<!--Display all build ingredients here, add a checkbox to remove that ingredient 
Display by collecting @recipe.recipe_ingredients and list them here
Add new recipe_ingredient for @recipe, render new or edit for the blank-->
  <%@recipe.recipe_ingredients.each do |recipe_ingredient|%>
    <h5><%=recipe_ingredient.ingredient_name %>    Quantity: <%=recipe_ingredient.quantity%></h5>
  <%end%>

  <h3>Instructions:</h3>
  <%= f.label :content %> <br>
  <%= f.text_area :content, rows: 8, cols: 50%> <br>

  <h3>Add Ingredient</h3>
  <%=f.fields_for :recipe_ingredients do |i| %>
    <%=i.label "Ingredient name:" %> 
    <%=i.text_field :ingredient_name %> <br><br>
    <%=i.label "Quantity:"%> 
    <%=i.number_field :ingredient_quantity%> <br><BR>
  <%end%>

  <%= f.submit "Add Ingredient", name: :add_ingredient%>
  <%=f.submit "Save Recipe"%>
<% end%>