<div>
  <h1><%= @recipe.name%></h1>
  <h3>By: <%=link_to "#{@recipe.user_email}", user_path(@recipe.user)%></h3>

  <h3>Instructions:</h3>
  <h4><%=@recipe.content%></h4>

  <h3>Ingredients</h3>

  <%@recipe.recipe_ingredients.each do |recipe_ingredient|%>
      <h4><%=recipe_ingredient.ingredient_name %>: <%=recipe_ingredient.quantity%></h4>
  <%end%>

  <% if @recipe.user == current_user%>
    <%= link_to "Edit Recipe", edit_user_recipe_path(current_user,@recipe) if @recipe.user == current_user%>
    <%= link_to "Delete Recipe", user_recipe_path(current_user, @recipe), method: :delete if @recipe.user == current_user%>
  <%end%>
</div>

<div>
  <h1>Comments</h1>
  <% @recipe.comments.each do |comment| %>
    <h3> <%= comment.user.email %> Says: </h3>
    <h4> <%= comment.content %> </h4>
    <%if comment.user == current_user%>
      <%= link_to "Edit Comment", edit_user_comment_path(comment.user, comment)%>
      <%= link_to "Delete Comment", user_comment_path(comment.user,comment), method: :delete%>
    <%end%>
  <%end%>
</div>

<div>
  <%if logged_in?%>
  <h3>Leave A Comment</h3>
    <%=render 'comments/comment'%>
  <%end%>
</div>

